<div class="form-group">
  <h4>This is your puzzle. Try to guess!</h4>
  <h3>$key</h3>
  <label for="userGuess">Enter your guess</label>
  <input id="userGuess" name="userGuess" type="text" class="form-control">
  <button type="submit" class="btn">Try...</button>
</div>
